.banner {
  text-align: center;
  font-family: $font-title;
  position: relative;
  height: 230px;
  &__img {
    opacity: 2;
    height: 100%;
    width: 100%;
  }
  //for tablet
  @include desde_hasta(600px, 1024px){
    height: 350px;
  };
  //for pc
  @include desde(1024px){
    height: 550px;
  };
}

.banner__copy {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__content {
    text-align: center;
    padding: 1em;
    color: color(blanco);
    &__h1 {
      font-family: $font-title-secundario;
      font-weight: bold;
      //for tablet
      @include desde_hasta(600px, 1024px){
        font-size: 1.8em;
      };
    }
    &__h2 {
      font-family: $font-text;
      //for tablet
      @include desde_hasta(600px, 1024px){
        font-size: 1.5em;
      };
    }
  }
  &__ctrls {
    text-align: center;
    margin: 2em;
    @include hasta(1024px){
      margin: 0px;
    };
    &__btn {
      margin: {
        left: 0.5em;
        right: 0.5em;
      }
      color: color(blanco);
      border: solid;
      border-radius: 15px;
      width: 100px;
      padding: {
        top: 0.5em;
        bottom: 0.5em;
        left: 2em;
        right: 2em;
      };
      @include hasta(1024px){
        margin: 0px;
        width: 100%;
        font-size: $font-siz-text-mov;
      };
    }
  }
}

.btn_primero {
  background: color(primero);
  &:hover {
    background: color(quinto);
    color: color(blanco);
  }
}

.btn_segundo {
  background: color(sexto);
  &:hover {
    background: color(segundo);
    color: color(blanco);
  }
  @include hasta(1024px){
    display: none;
  };
}
