<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/scrips.js"></script>
    <title>Header</title>
  </head>
  <body>
    <header>
      <div class="mov-header">
        <div class="mov-header__menu_icon">
          <i id="togle-menu" class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="mov-header__logo">
          <a href="#" class="mov-header__logo__link"><i class="fa fa-bus" aria-hidden="true"></i></a>
        </div>
      </div>
      <div id="nav-menu" class="mov-header-menu-enabled">
        <ul class="mov-header-menu__ul">
          <li class="mov-header-menu__ul__li__logo">
            <a href="#" class="mov-header-menu__ul__li__logo__a">GorgeousMachupicchu</a>
          </li>
          <li class="mov-header-menu__ul__li">
            <a href="#" class="mov-header-menu__ul__li__a">Experiencias</a>
          </li>
          <li class="mov-header-menu__ul__li">
            <a href="#" class="mov-header-menu__ul__li__a">Promociones</a>
          </li>
          <li class="mov-header-menu__ul__li">
            <a href="#" class="mov-header-menu__ul__li__a">Aventura</a>
          </li>
          <li class="mov-header-menu__ul__li">
            <a href="#" class="mov-header-menu__ul__li__a">Contacto</a>
          </li>
      </div>
      <!-- header for viewport pc -->
      <div class="main-header">
        <a href="#">
          <img src="/img/logo_g3.png" alt="machu picchu" class="main-header__logo">
        </a>
        <ul class="main-header__menu">
          <li class="main-header__menu__li">
            <a href="#" class="main-header__menu__li__a">Experiencias</a>
          </li>
          <li class="main-header__menu__li">
            <a href="#" class="main-header__menu__li__a">Galeria de Fotos</a>
          </li>
          <li class="main-header__menu__li">
            <a href="#" class="main-header__menu__li__a">Promociones</a>
          </li>
          <li class="main-header__menu__li">
            <a href="#" class="main-header__menu__li__a">Destinos</a>
          </li>
          <li class="main-header__menu__li">
            <a href="#" class="main-header__menu__li__a li_action">Paquetes Turisticos</a>
          </li>
        </ul>
      </div>
      <!-- end viewport pc-->
    </header>
    <div class="header-space">

    </div>

    <div class="tour-detail">
      <div class="tour-detail__banner">
        <img src="/img/tour-fondo4.jpg" alt="nombre" class="tour-detail__banner__img">
        <div class="tour-detail__banner__resume">
          <h3 class="tour-detail__banner__resume__title">El sur del Peru en tus manos</h3>
          <p class="tour-detail__banner__resume__text">14:00 Inicia el City Tour por el Centro Histórico de la ciudad, que comprende: La Plaza de Armas, Catedral, Cúpula Policromada de La Compañía de Jesús, distrito colonial de Yanahuara, zona residencial de Selva Alegre y finalmente.</p>
          <p class="tour-detail__banner__resume__price">S/. 80.00</p>
        </div>
      </div>

      <div class="grid-container grid-x">
        <h1 class="cell tour-detail__title">El sur del Peru en tus manos El sur del Peru en tus manos</h1>
        <div class="cell small-12 medium-12 large-8 grid-x align-center tour-detail__destinos">
          <h3 class="tour-detail__destinos__title">Los destinos de este tour</h3>
          <div class="cell small-12 medium-10 large-12 grid-x tour-detail__destinos__item">
            <div class="cell small-12 medium-6 large-5 tour-detail__destino">
              <img src="/img/17.jpg" alt="name" class="tour-detail__destino__img">
            </div>
            <div class="cell small-12 medium-6 large-7 tour-detail__destino">
              <div class="tour-detail__destino__resume">
                <a href="#" class="tour-detail__destino__resume__name">Cusco ciudad</a>
                <span class="tour-detail__leyend">Itinerario</span>
                <div class="tour-detail__destino__resume__items">
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Tres noches de hotel en cusco</p>
                  </div>
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Boletos de ingreso a los lugares de vicita en el city tour</p>
                  </div>
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Tres noches de hotel en cusco</p>
                  </div>
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Tiket dee tren de oolantaytanmbo -  machu pichu- ollantatmbo</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cell small-12 medium-10 large-12 grid-x tour-detail__destinos__item">
            <div class="cell small-12 medium-6 large-5 tour-detail__destino">
              <img src="/img/20.jpg" alt="name" class="tour-detail__destino__img">
            </div>
            <div class="cell small-12 medium-6 large-7 tour-detail__destino">
              <div class="tour-detail__destino__resume">
                <a href="#" class="tour-detail__destino__resume__name">Cusco ciudad</a>
                <span class="tour-detail__leyend">Itinerario</span>
                <div class="tour-detail__destino__resume__items">
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Tres noches de hotel en cusco</p>
                  </div>
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Boletos de ingreso a los lugares de vicita en el city tour</p>
                  </div>
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Tres noches de hotel en cusco</p>
                  </div>
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Tiket dee tren de oolantaytanmbo -  machu pichu- ollantatmbo</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cell small-12 medium-10 large-12 grid-x tour-detail__destinos__item">
            <div class="cell small-12 medium-6 large-5 tour-detail__destino">
              <img src="/img/2.jpg" alt="name" class="tour-detail__destino__img">
            </div>
            <div class="cell small-12 medium-6 large-7 tour-detail__destino">
              <div class="tour-detail__destino__resume">
                <a href="#" class="tour-detail__destino__resume__name">Cusco ciudad</a>
                <span class="tour-detail__leyend">Itinerario</span>
                <div class="tour-detail__destino__resume__items">
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Tres noches de hotel en cusco</p>
                  </div>
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Boletos de ingreso a los lugares de vicita en el city tour</p>
                  </div>
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Tres noches de hotel en cusco</p>
                  </div>
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Tiket dee tren de oolantaytanmbo -  machu pichu- ollantatmbo</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cell small-12 medium-10 large-12 grid-x tour-detail__destinos__item">
            <div class="cell small-12 medium-6 large-5 tour-detail__destino">
              <img src="/img/3.jpg" alt="name" class="tour-detail__destino__img">
            </div>
            <div class="cell small-12 medium-6 large-7 tour-detail__destino">
              <div class="tour-detail__destino__resume">
                <a href="#" class="tour-detail__destino__resume__name">Cusco ciudad</a>
                <span class="tour-detail__leyend">Itinerario</span>
                <div class="tour-detail__destino__resume__items">
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Tres noches de hotel en cusco</p>
                  </div>
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Boletos de ingreso a los lugares de vicita en el city tour</p>
                  </div>
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Tres noches de hotel en cusco</p>
                  </div>
                  <div class="tour-detail__destino__resume__items__item">
                    <i class="fa fa-check-circle-o tour-detail__destino__resume__items__item__icon" aria-hidden="true"></i>
                    <p class="tour-detail__destino__resume__items__item__text">Tiket dee tren de oolantaytanmbo -  machu pichu- ollantatmbo</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cell small-12 medium-12 large-3 grid-x align-center  tour-detail__relacionados">
          <p class="cell tour-detail__relacionados__title">Tours más populares</p>
          <div class="cell small-12 medium-5 large-12 tour-detail__relacionados__item">
            <img src="/img/8.jpg" alt="name" class="tour-detail__relacionados__item__img">
            <div class="tour-detail__relacionados__item__content">
              <a href="#" class="tour-detail__relacionados__item__content__title">Caminata huchuycoscco</a>
              <p class="tour-detail__relacionados__item__content__days">3 dias</p>
              <p class="tour-detail__relacionados__item__content__price">$. 80.00</p>
            </div>
          </div>

          <div class="cell small-12 medium-5 large-12 tour-detail__relacionados__item">
            <img src="/img/9.jpg" alt="name" class="tour-detail__relacionados__item__img">
            <div class="tour-detail__relacionados__item__content">
              <a href="#" class="tour-detail__relacionados__item__content__title">Caminata huchuycoscco</a>
              <p class="tour-detail__relacionados__item__content__days">3 dias</p>
              <p class="tour-detail__relacionados__item__content__price">$. 80.00</p>
            </div>
          </div>

          <div class="cell small-12 medium-5 large-12 tour-detail__relacionados__item">
            <img src="/img/10.jpg" alt="name" class="tour-detail__relacionados__item__img">
            <div class="tour-detail__relacionados__item__content">
              <a href="#" class="tour-detail__relacionados__item__content__title">Caminata huchuycoscco</a>
              <p class="tour-detail__relacionados__item__content__days">3 dias</p>
              <p class="tour-detail__relacionados__item__content__price">$. 80.00</p>
            </div>
          </div>

          <div class="cell small-12 medium-5 large-12 tour-detail__relacionados__item">
            <img src="/img/8.jpg" alt="name" class="tour-detail__relacionados__item__img">
            <div class="tour-detail__relacionados__item__content">
              <a href="#" class="tour-detail__relacionados__item__content__title">Caminata huchuycoscco</a>
              <p class="tour-detail__relacionados__item__content__days">3 dias</p>
              <p class="tour-detail__relacionados__item__content__price">$. 80.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <a href="#" class="footer__phone">Telf: +51 986541287</a>
      <a href="#" class="footer__icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="#" class="footer__icon"><i class="fa fa-youtube" aria-hidden="true"></i></a>
      <a href="#" class="footer__icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#" class="footer__icon"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
    </div>
  </body>
</html>
