<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/scrips.js"></script>
    <title>Header</title>
  </head>
  <body>
    <header>
      <div class="mov-header">
        <div class="mov-header__menu_icon">
          <i id="togle-menu" class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="mov-header__logo">
          <a href="#" class="mov-header__logo__link"><i class="fa fa-bus" aria-hidden="true"></i></a>
        </div>
      </div>
      <div id="nav-menu" class="mov-header-menu-enabled">
        <ul class="mov-header-menu__ul">
          <li class="mov-header-menu__ul__li__logo">
            <a href="#" class="mov-header-menu__ul__li__logo__a">GorgeousMachupicchu</a>
          </li>
          <li class="mov-header-menu__ul__li">
            <a href="#" class="mov-header-menu__ul__li__a">Experiencias</a>
          </li>
          <li class="mov-header-menu__ul__li">
            <a href="#" class="mov-header-menu__ul__li__a">Promociones</a>
          </li>
          <li class="mov-header-menu__ul__li">
            <a href="#" class="mov-header-menu__ul__li__a">Aventura</a>
          </li>
          <li class="mov-header-menu__ul__li">
            <a href="#" class="mov-header-menu__ul__li__a">Contacto</a>
          </li>
      </div>
      <!-- header for viewport pc -->
      <div class="main-header">
        <a href="#">
          <img src="/img/logo_g3.png" alt="machu picchu" class="main-header__logo">
        </a>
        <ul class="main-header__menu">
          <li class="main-header__menu__li">
            <a href="#" class="main-header__menu__li__a">Experiencias</a>
          </li>
          <li class="main-header__menu__li">
            <a href="#" class="main-header__menu__li__a">Galeria de Fotos</a>
          </li>
          <li class="main-header__menu__li">
            <a href="#" class="main-header__menu__li__a">Promociones</a>
          </li>
          <li class="main-header__menu__li">
            <a href="#" class="main-header__menu__li__a">Destinos</a>
          </li>
          <li class="main-header__menu__li">
            <a href="#" class="main-header__menu__li__a li_action">Paquetes Turisticos</a>
          </li>
        </ul>
      </div>
      <!-- end viewport pc-->
    </header>
    <div class="header-space">

    </div>

    <div class="tours">
      <div class="tours__banner">
        <img src="/img/tour-fondo3.jpg" alt="machupicchu" class="tours__banner__img">
        <div class="tours__banner__copy">
          <div class="tours__banner__copy__content">
            <p class="tours__banner__copy__content__text">Visita todas las maravillas del Perú</p>
            <h1 class="tours__banner__copy__content__h1">Encuentra el tour ideal para ti por todo el Perú.</h1>
          </div>
          <div class="tours__banner__copy__ctrls">
            <span class="tours__banner__copy__ctrls__description">Destinos: </span>
            <form class="tours__banner__copy__ctrls__form" method="post">
              <input type="text" class="tours__banner__copy__ctrls__form__input" placeholder="Origen...">
              <input type="text" class="tours__banner__copy__ctrls__form__input" placeholder="Destino...">
              <input type="submit" class="btn_search" value="Buscar">
            </form>
          </div>
        </div>
      </div>
      <div class="tours__copy">
        <h2 class="tours__copy__title">Tours más populares</h2>
        <p class="tours__copy__description">Disfruta una experiencia inolvidable, por todo el peru con estos fantasticos tours por machu pichu, Nasca y todo el Perú.</p>
      </div>
      <div class="tours__filter">
        <a href="#" class="tours__filter__item">Todo</a>
        <a href="#" class="tours__filter__item">Por Precio</a>
        <a href="#" class="tours__filter__item">Por Dias</a>
      </div>

      <div class="grid-container">
        <div class="tours__cards grid-x grid-margin-x align-center">
          <div class="cell small-10 medium-6 large-4 aventure__card">
            <img src="/img/15.jpg" alt="nobre" class="aventure__card__img">
            <div class="aventure__card__info">
              <div class="aventure__card__info__main">
                <a class="aventure__card__info__main__title">Caminta por valle de los incas</a>
                <span class="aventure__card__info__main__price">$2480</span>
              </div>
              <div class="aventure__card__info__content">
                <p class="aventure__card__info__content__tag">
                  <i class="fa fa-calendar aventure__card__info__content__tag__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__content__tag__text">3 Días</span>
                </p>
                <p class="aventure__card__info__content__text">
                  Partimos a las 8:30 de la mañana en la ciudad de cusco, para luego hacer recorrido de tres dias.
                </p>
              </div>
              <div class="aventure__card__info__footer">
                <div class="aventure__card__info__footer__item">
                  <i class="fa fa-circle-o aventure__card__info__footer__item__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__footer__item__text">Ollantaytambo</span>
                </div>
                <div class="aventure__card__info__footer__item">
                  <i class="fa fa-circle aventure__card__info__footer__item__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__footer__item__text">Pisac</span>
                </div>
              </div>
            </div>
          </div>
          <div class="cell small-10 medium-6 large-4 aventure__card">
            <img src="/img/14.jpg" alt="nobre" class="aventure__card__img">
            <div class="aventure__card__info">
              <div class="aventure__card__info__main">
                <a class="aventure__card__info__main__title">Caminta por valle de los incas</a>
                <span class="aventure__card__info__main__price">$2480</span>
              </div>
              <div class="aventure__card__info__content">
                <p class="aventure__card__info__content__tag">
                  <i class="fa fa-calendar aventure__card__info__content__tag__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__content__tag__text">3 Días</span>
                </p>
                <p class="aventure__card__info__content__text">
                  Partimos a las 8:30 de la mañana en la ciudad de cusco, para luego hacer recorrido de tres dias.
                </p>
              </div>
              <div class="aventure__card__info__footer">
                <div class="aventure__card__info__footer__item">
                  <i class="fa fa-circle-o aventure__card__info__footer__item__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__footer__item__text">Ollantaytambo</span>
                </div>
                <div class="aventure__card__info__footer__item">
                  <i class="fa fa-circle aventure__card__info__footer__item__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__footer__item__text">Pisac</span>
                </div>
              </div>
            </div>
          </div>
          <div class="cell small-10 medium-6 large-4 aventure__card">
            <img src="/img/17.jpg" alt="nobre" class="aventure__card__img">
            <div class="aventure__card__info">
              <div class="aventure__card__info__main">
                <a class="aventure__card__info__main__title">Caminta por valle de los incas</a>
                <span class="aventure__card__info__main__price">$2480</span>
              </div>
              <div class="aventure__card__info__content">
                <p class="aventure__card__info__content__tag">
                  <i class="fa fa-calendar aventure__card__info__content__tag__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__content__tag__text">3 Días</span>
                </p>
                <p class="aventure__card__info__content__text">
                  Partimos a las 8:30 de la mañana en la ciudad de cusco, para luego hacer recorrido de tres dias.
                </p>
              </div>
              <div class="aventure__card__info__footer">
                <div class="aventure__card__info__footer__item">
                  <i class="fa fa-circle-o aventure__card__info__footer__item__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__footer__item__text">Ollantaytambo</span>
                </div>
                <div class="aventure__card__info__footer__item">
                  <i class="fa fa-circle aventure__card__info__footer__item__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__footer__item__text">Pisac</span>
                </div>
              </div>
            </div>
          </div>
          <div class="cell small-10 medium-6 large-4 aventure__card">
            <img src="/img/10.jpg" alt="nobre" class="aventure__card__img">
            <div class="aventure__card__info">
              <div class="aventure__card__info__main">
                <a class="aventure__card__info__main__title">caminta por toda el huayna picchu y salcantay inico y fin en solo dos dias</a>
                <span class="aventure__card__info__main__price">$2480</span>
              </div>
              <div class="aventure__card__info__content">
                <p class="aventure__card__info__content__tag">
                  <i class="fa fa-calendar aventure__card__info__content__tag__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__content__tag__text">3 Días</span>
                </p>
                <p class="aventure__card__info__content__text">
                  Partimos a las 8:30 de la mañana en la ciudad de cusco, para luego hacer recorrido de tres dias.
                </p>
              </div>
              <div class="aventure__card__info__footer">
                <div class="aventure__card__info__footer__item">
                  <i class="fa fa-circle-o aventure__card__info__footer__item__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__footer__item__text">Ollantaytambo</span>
                </div>
                <div class="aventure__card__info__footer__item">
                  <i class="fa fa-circle aventure__card__info__footer__item__icon" aria-hidden="true"></i>
                  <span class="aventure__card__info__footer__item__text">Pisac</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <a href="#" class="footer__phone">Telf: +51 986541287</a>
      <a href="#" class="footer__icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="#" class="footer__icon"><i class="fa fa-youtube" aria-hidden="true"></i></a>
      <a href="#" class="footer__icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#" class="footer__icon"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
    </div>
  </body>
</html>
